# CW2: Hospital Readmission Prediction for Diabetic Patients

### Imports

In [15]:
# Basics
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Task 1: Dataset description

In [16]:
df = pd.read_csv("dataset_diabetes/diabetic_data.csv")
IDs_mapping = pd.read_csv("dataset_diabetes/IDs_mapping.csv")

In [17]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [18]:
IDs_mapping.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [19]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [20]:
df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [21]:
num_features = df.shape[1]
num_features

50

In [22]:
# auxiliary functions
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())  # same as data.isna().sum()
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)


def grab_col_names(dataframe, cat_th=10, car_th=20):
    """
    ------
        dataframe: dataframe

        cat_th: int, optional

        car_th: int, optinal
    Returns
    ------
        cat_cols: list
                Categorical features
        num_cols: list
                Numerical features
        cat_but_car: list
               Categorical view cardinal variable list

    Examples
    ------
        import seaborn as sns
        df = sns.load_dataset("iris")
        print(grab_col_names(df))

    """

    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    num_but_cat = [
        col
        for col in dataframe.columns
        if dataframe[col].nunique() < cat_th and dataframe[col].dtypes != "O"
    ]
    cat_but_car = [
        col
        for col in dataframe.columns
        if dataframe[col].nunique() > car_th and dataframe[col].dtypes == "O"
    ]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f"cat_cols: {len(cat_cols)}")
    print(f"num_cols: {len(num_cols)}")
    print(f"cat_but_car: {len(cat_but_car)}")
    print(f"num_but_cat: {len(num_but_cat)}")
    return cat_cols, num_cols, cat_but_car


def missing_values_table(dataframe, na_name=False):
    na_columns = [col for col in dataframe.columns if dataframe[col].isnull().sum() > 0]
    n_miss = dataframe[na_columns].isnull().sum().sort_values(ascending=False)
    ratio = (
        dataframe[na_columns].isnull().sum() / dataframe.shape[0] * 100
    ).sort_values(ascending=False)
    missing_df = pd.concat(
        [n_miss, np.round(ratio, 2)], axis=1, keys=["n_miss", "ratio"]
    )
    print(missing_df, end="\n")
    if na_name:
        return na_columns


def missing_vs_target(dataframe, target, na_columns):
    temp_df = dataframe.copy()

    for col in na_columns:
        temp_df[col + "_NA_FLAG"] = np.where(temp_df[col].isnull(), 1, 0)

    na_flags = temp_df.loc[:, temp_df.columns.str.contains("_NA_")].columns

    for col in na_flags:
        print(
            pd.DataFrame(
                {
                    "TARGET_MEAN": temp_df.groupby(col)[target].mean(),
                    "Count": temp_df.groupby(col)[target].count(),
                }
            ),
            end="\n\n\n",
        )


df.columns = [col.upper() for col in df.columns]
df.columns = df.columns.str.upper()
df.head()
print(df.columns)


check_df(df)

Index(['ENCOUNTER_ID', 'PATIENT_NBR', 'RACE', 'GENDER', 'AGE', 'WEIGHT',
       'ADMISSION_TYPE_ID', 'DISCHARGE_DISPOSITION_ID', 'ADMISSION_SOURCE_ID',
       'TIME_IN_HOSPITAL', 'PAYER_CODE', 'MEDICAL_SPECIALTY',
       'NUM_LAB_PROCEDURES', 'NUM_PROCEDURES', 'NUM_MEDICATIONS',
       'NUMBER_OUTPATIENT', 'NUMBER_EMERGENCY', 'NUMBER_INPATIENT', 'DIAG_1',
       'DIAG_2', 'DIAG_3', 'NUMBER_DIAGNOSES', 'MAX_GLU_SERUM', 'A1CRESULT',
       'METFORMIN', 'REPAGLINIDE', 'NATEGLINIDE', 'CHLORPROPAMIDE',
       'GLIMEPIRIDE', 'ACETOHEXAMIDE', 'GLIPIZIDE', 'GLYBURIDE', 'TOLBUTAMIDE',
       'PIOGLITAZONE', 'ROSIGLITAZONE', 'ACARBOSE', 'MIGLITOL', 'TROGLITAZONE',
       'TOLAZAMIDE', 'EXAMIDE', 'CITOGLIPTON', 'INSULIN',
       'GLYBURIDE-METFORMIN', 'GLIPIZIDE-METFORMIN',
       'GLIMEPIRIDE-PIOGLITAZONE', 'METFORMIN-ROSIGLITAZONE',
       'METFORMIN-PIOGLITAZONE', 'CHANGE', 'DIABETESMED', 'READMITTED'],
      dtype='object')
##################### Shape #####################
(101766, 50)
##################### Types #####################
ENCOUNTER_ID                 int64
PATIENT_NBR                  int64
RACE                        object
GENDER                      object
AGE                         object
WEIGHT                      object
ADMISSION_TYPE_ID            int64
DISCHARGE_DISPOSITION_ID     int64
ADMISSION_SOURCE_ID          int64
TIME_IN_HOSPITAL             int64
PAYER_CODE                  object
MEDICAL_SPECIALTY           object
NUM_LAB_PROCEDURES           int64
NUM_PROCEDURES               int64
NUM_MEDICATIONS              int64
NUMBER_OUTPATIENT            int64
NUMBER_EMERGENCY             int64
NUMBER_INPATIENT             int64
DIAG_1                      object
DIAG_2                      object
DIAG_3                      object
NUMBER_DIAGNOSES             int64
MAX_GLU_SERUM               object
A1CRESULT                   object
METFORMIN                   object
REPAGLINIDE                 object
NATEGLINIDE                 object
CHLORPROPAMIDE              object
GLIMEPIRIDE                 object
ACETOHEXAMIDE               object
GLIPIZIDE                   object
GLYBURIDE                   object
TOLBUTAMIDE                 object
PIOGLITAZONE                object
ROSIGLITAZONE               object
ACARBOSE                    object
MIGLITOL                    object
TROGLITAZONE                object
TOLAZAMIDE                  object
EXAMIDE                     object
CITOGLIPTON                 object
INSULIN                     object
GLYBURIDE-METFORMIN         object
GLIPIZIDE-METFORMIN         object
GLIMEPIRIDE-PIOGLITAZONE    object
METFORMIN-ROSIGLITAZONE     object
METFORMIN-PIOGLITAZONE      object
CHANGE                      object
DIABETESMED                 object
READMITTED                  object
dtype: object
##################### Head #####################
   ENCOUNTER_ID  PATIENT_NBR             RACE  GENDER      AGE WEIGHT  \
0       2278392      8222157        Caucasian  Female   [0-10)      ?
1        149190     55629189        Caucasian  Female  [10-20)      ?
2         64410     86047875  AfricanAmerican  Female  [20-30)      ?

   ADMISSION_TYPE_ID  DISCHARGE_DISPOSITION_ID  ADMISSION_SOURCE_ID  \
0                  6                        25                    1
1                  1                         1                    7
2                  1                         1                    7

   TIME_IN_HOSPITAL  ... CITOGLIPTON INSULIN  GLYBURIDE-METFORMIN  \
0                 1  ...          No      No                   No
1                 3  ...          No      Up                   No
2                 2  ...          No      No                   No

   GLIPIZIDE-METFORMIN  GLIMEPIRIDE-PIOGLITAZONE  METFORMIN-ROSIGLITAZONE  \
0                   No                        No                       No
1                   No                        No                       No
2                   No                        No                       No

   METFORMIN-PIOGLITAZONE  CHANGE DIABETESMED READMITTED
0                      No      No          No         NO
1                      No      Ch         Yes        >30
2                      No      No         Yes         NO

[3 rows x 50 columns]
##################### Tail #####################
        ENCOUNTER_ID  PATIENT_NBR       RACE  GENDER      AGE WEIGHT  \
101763     443854148     41088789  Caucasian    Male  [70-80)      ?
101764     443857166     31693671  Caucasian  Female  [80-90)      ?
101765     443867222    175429310  Caucasian    Male  [70-80)      ?

        ADMISSION_TYPE_ID  DISCHARGE_DISPOSITION_ID  ADMISSION_SOURCE_ID  \
101763                  1                         1                    7
101764                  2                         3                    7
101765                  1                         1                    7

        TIME_IN_HOSPITAL  ... CITOGLIPTON INSULIN  GLYBURIDE-METFORMIN  \
101763                 1  ...          No    Down                   No
101764                10  ...          No      Up                   No
101765                 6  ...          No      No                   No

        GLIPIZIDE-METFORMIN  GLIMEPIRIDE-PIOGLITAZONE  \
101763                   No                        No
101764                   No                        No
101765                   No                        No

        METFORMIN-ROSIGLITAZONE  METFORMIN-PIOGLITAZONE  CHANGE DIABETESMED  \
101763                       No                      No      Ch         Yes
101764                       No                      No      Ch         Yes
101765                       No                      No      No          No

       READMITTED
101763         NO
101764         NO
101765         NO

[3 rows x 50 columns]
##################### NA #####################
ENCOUNTER_ID                    0
PATIENT_NBR                     0
RACE                            0
GENDER                          0
AGE                             0
WEIGHT                          0
ADMISSION_TYPE_ID               0
DISCHARGE_DISPOSITION_ID        0
ADMISSION_SOURCE_ID             0
TIME_IN_HOSPITAL                0
PAYER_CODE                      0
MEDICAL_SPECIALTY               0
NUM_LAB_PROCEDURES              0
NUM_PROCEDURES                  0
NUM_MEDICATIONS                 0
NUMBER_OUTPATIENT               0
NUMBER_EMERGENCY                0
NUMBER_INPATIENT                0
DIAG_1                          0
DIAG_2                          0
DIAG_3                          0
NUMBER_DIAGNOSES                0
MAX_GLU_SERUM               96420
A1CRESULT                   84748
METFORMIN                       0
REPAGLINIDE                     0
NATEGLINIDE                     0
CHLORPROPAMIDE                  0
GLIMEPIRIDE                     0
ACETOHEXAMIDE                   0
GLIPIZIDE                       0
GLYBURIDE                       0
TOLBUTAMIDE                     0
PIOGLITAZONE                    0
ROSIGLITAZONE                   0
ACARBOSE                        0
MIGLITOL                        0
TROGLITAZONE                    0
TOLAZAMIDE                      0
EXAMIDE                         0
CITOGLIPTON                     0
INSULIN                         0
GLYBURIDE-METFORMIN             0
GLIPIZIDE-METFORMIN             0
GLIMEPIRIDE-PIOGLITAZONE        0
METFORMIN-ROSIGLITAZONE         0
METFORMIN-PIOGLITAZONE          0
CHANGE                          0
DIABETESMED                     0
READMITTED                      0
dtype: int64
##################### Quantiles #####################

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Â Task 2: Data assembling and initial pre-processing (15%)